.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;

    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(223, 221, 221);

}

.left-section {
    align-items: center;
    display: flex;
}

.hamburger-menu {
    height: 20px;
    margin-left: 24px;
    height: 24px;
}

.youtube-logo {
    margin-left: 24px;
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-color: rgb(207, 206, 206);
    border-style: solid;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.06);
    width: 0;
}

.search-bar::placeholder {
    font-family: roboto, arial;
    font-size: 16px;
}

.search-button {
    width: 66px;
    height: 40px;
    background-color: rgb(242, 239, 239);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(207, 206, 206);
    margin-left: -1px;
    margin-right: 10px;
}

.search-button, .voice-button, 
.upload-container, .apps-container, .noti-container
.pfp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.search-button .tooltip, .voice-button .tooltip, 
.upload-container .tooltip, .apps-container .tooltip, 
.noti-container .tooltip, .pfp-container .tooltip {
    font-family: Roboto, Arial;
    font-size: 12px;
    position: absolute;
    background-color: rgb(207, 207, 207);
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    bottom: -40px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 250ms;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip, .voice-button:hover .tooltip, 
.upload-container:hover .tooltip, .apps-container:hover .tooltip,
.noti-container:hover .tooltip, .pfp-container:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 25px;
}

.voice-button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border-style:solid ;
    border-width: 0px;
    border-color: rgb(207, 206, 206);
    background-color: rgb(245, 245, 245);
}

.voice-icon{
    height: 24px;
}

.right-section {
    margin-right: 22px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
}

.apps-icon {
    height: 24px;
}

.noti-icon {
    height: 24px;
}

.noti-icon-container {
    position: relative;
}

.noti-count {
    position: absolute;
    top: -2px;
    right: -6px;
    background-color: rgb(186, 0, 0);
    color: white;
    font-family: roboto, arial;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 50%;
}

.pfp-icon {
    height: 32px;
    border-radius: 50%;
}

